---
url: /test-area
name: test-area

---
<h1>{{media.img_server}}</h1>
<!--
<wxy-push-menu menu="menu" options="options"></wxy-push-menu>
    <div id="pushobj">
        Some content here!

        <ul>
            <li ng-repeat="event in events track by $index" ng-bind="event"></li>
        </ul>
    </div>
 -->
<!--
<fieldset ng-controller="MediaCreateController">
	<legend>MediaCreateController</legend>
	<media></media>
</fieldset>
<hr/>
<media></media>
<hr/>
 -->
<a ui-sref="ex1" class="button primary">examples</a>
<a ui-sref="uploadMedia" class="button primary">Upload media</a>
<a ui-sref="modal" class="button primary">modal</a>

<div class="clearfix">
	<input type="txt" ng-model="id" class="w25 float-left"/>
	<a href="#" class="alert button float-right">
<code>
	<a ng-controller="MediaViewController" ui-sref="viewMedia({id:id})" class="button primary w50 float right">Se media</a></code>
</div>

<!--
<a ng-controller="MediaViewController" ui-sref="viewMedia({id:id})" class="button primary w50 float right">Se media</a></a>
-->
<a ng-controller="MediaViewAllController" ui-sref="viewAllMedia" class="button primary">Se al media</a>

<hr/>

<a class="button" ng-controller="ListsCreateController" ui-sref="createList">Opret liste</a>

<hr/>

