/*		off-canvas variables	*/
.custom-off-canvas {
// Extend the off-canvas selector to get the basic structural styles
@extend %off-canvas;
// Use this mixin to set the position and size of the menu
// The shadow is also included in this mixin; its style will change depending on the position of the pane
@include off-canvas-layout(
$position: left, // Can be top, right, bottom, or left
$size: default, // Can be a px, rem, or em value. "default" will use the values in the settings variables
$shadow: $offcanvas-shadow // Pass in a shadow value with a Y offset, like 0 2px 10px black
);

// Use this mixin to define visual styles for the pane
@include off-canvas-style(
$background: $offcanvas-background, // Background color
$color: $offcanvas-color, // Text color
$padding: $offcanvas-padding // Padding inside the pane
);
&.custom-detached-class {
// Use this mixin to add the detached visual style
@include off-canvas-detached;
}
}

