<div class="form-group">
    <label for="title" class="control-label">Sag</label>
    <div class=" ">
        <input type="text" ng-model="lists.title" class="form-control" id="title" placeholder="Angiv sag"/>
    </div>
</div>
<div class="form-group">
    <label for="year" class="control-label">Faggruppe</label>
    <div class=" ">
        <input type="text" ng-model="lists.faggruppe" class="form-control" id="year" placeholder="Hvilken faggruppe skal udføre kontrollen"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="control-label">Kontrolkategori</label>
    <div class="">
        <input type="text" ng-model="lists.kategori" class="form-control" id="director" placeholder="Angiv kontrolkategori, f.eks. udførelseskontrol"/>
    </div>
</div>

<div class="form-group">
    <label for="plot" class="control-label">Kontroldel</label>
    <div class=" ">
        <input type="text" ng-model="lists.del" class="form-control" id="plot" placeholder="Angiv kontroldel"/>
    </div>
</div>

<div class="form-group">
    <div class="">
        <input type="submit" class="button primary" value="Save"/>
    </div>
</div>