---
name: ks.kontrolemne
url: /kontrolemne/:id
controller: kontrolemneCtrl
animationIn: slideInRight
---


<div class="grid_frame kontrolemneCtrl" ng-repeat="x in kontrol |  filter: {'id': '333'}"><!--flyttes til controller, så filtrering sker der http://goo.gl/yquC28 -->

<style>

	dd,dt{display: inline;}
	dd{border:1px red solid;}
	.kontrolemneCtrl dt:after{content:":";}
	.kontrolemneCtrl img{width:100%;margin:0;padding:0;}
	.kontrolemneCtrl img:nth-child[2]{top:-{{h3}}px;}
	.ready{background:yellow;}
	.ok{background:green;}
	.hold{background:red;}

</style>
	<div class="grid-block">
		<div class="grid-content">
			<h4>Imagetest: {{h}}</h4>
			<p>{{x.description}}</p>
		</div>
	</div>
	<div class="grid-block">
		<div class="grid-content small-4 columns ready">h: {{h}} h2: {{h2}}</div>
		<div class="grid-content small-4 columns ok">t: {{t}} t2: {{t2}}</div>
		<div class="grid-content small-4 columns hold">l: {{l}} l: {{l2}}</div>
	</div>
	<div class="grid-block">

		<div class="grid-content" ng-repeat="foto in x.media | limitTo: 1">
		<drawOnCanvas>asf</drawOnCanvas>
		<foto>FOTO</foto>

		</div>

	</div>
	<div class="grid-block">
		<div class="grid-content">
			<dl class="bg-yellow">
				<dt>id</dt>					<dd>{{x.id}}</dd>
				<dt>description</dt>		<dd>{{x.description}}</dd>
				<dt>status</dt>				<dd>{{x.status}}</dd>
				<dt>dato</dt>				<dd>{{x.date}}</dd>
				<dt>user</dt>				<dd>{{x.user}}</dd>
				<dt>sidste opdatering</dt>	<dd ng-repeat="y in x.updates | limitTo:1">{{y}}</dd>
			</dl>
		</div>
	</div>
</div>