---
name: movies
url: /movies
controller: MovieListController
---
<!-- <div ng-app="movieApp" ng-controller="MovieListController"> -->
	<a ui-sref="newMovie" class="button primary">Add New Movie</a>
	<table class="responsive table movietable">
		<tr>
			<td><h3>All Movies </h3></td>
			<td></td>
		</tr>
		<tr ng-repeat="movie in movies">
			<td>{{movie.title}}</td>
			<td>
				<a class="button primary" ui-sref="viewMovie({id:movie._id})">View</a>
				<a class="button alert" ng-click="deleteMovie(movie)">Delete</a>
			</td>
		</tr>
	</table>
<!-- </div> -->