---
url: /using-a-service
name: using-a-service
controller: usingAServiceCtrl
---
<h1>using-a-service {{status}}</h1>
<p ng-init"message='test'" ng-model="message">{{message}}</p>

<div id="simple" ng-controller="usingAServiceCtrl">
  <p>Let's try this simple notify service, injected into the controller...</p>
  <input placeholder="test" ng-model="message" >
  <button ng-click="callNotify(message);">NOTIFY</button>

  <p>(you have to click 3 times to see an alert)</p>


<input placeholder="skriv" ng-model="skriv" >
<button ng-click="callMakeAlert(skriv);">HAVER</button>

</div>