$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

/*	colors	*/
$blue: #01939a;//#00F
$brown:#963;
$cyan:#0FF;
$green: #00ff00;
$magenta:#F0F;
$orange: #ff7600;//#FF8000
$purple:#800080;
$red: #ff0000;
$yellow: #00FFFF;
$pink: #FFDCFF;
$dark-gray: #222222;

//We use these as default colors throughout
$primary-color: #008CBA;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;


.bg-white{background:$white;}//:#FFFFFF;
.bg-ghost{background:$ghost;}//:#FAFAFA;
.bg-snow{background:$snow;}//:#F9F9F9;
.bg-vapor{background:$vapor;}//:#F6F6F6;
.bg-white-smoke{background:$white-smoke;}//:#F5F5F5;
.bg-silver{background:$silver;}//:#EFEFEF;
.bg-smoke{background:$smoke;}//:#EEEEEE;
.bg-gainsboro{background:$gainsboro;}//:#DDDDDD;
.bg-iron{background:$iron;}//:#CCCCCC;
.bg-base{background:$base;}//:#AAAAAA;
.bg-aluminum{background:$aluminum;}//:#999999;
.bg-jumbo{background:$jumbo;}//:#888888;
.bg-monsoon{background:$monsoon;}//:#777777;
.bg-steel{background:$steel;}//:#666666;
.bg-charcoal{background:$charcoal;}//:#555555;
.bg-tuatara{background:$tuatara;}//:#444444;
.bg-oil{background:$oil;}//:#333333;
.bg-jet{background:$jet;}//:#222222;
.bg-black{background:$black;}//:#000000;
.bg-primary-color{background:$primary-color;}//:#008CBA;
.bg-secondary-color{background:$secondary-color;}//:#e7e7e7;
.bg-alert-color{background:$alert-color;}//:#f04124;
.bg-success-color{background:$success-color;}//:#43AC6A;
.bg-warning-color{background:$warning-color;}//:#f08a24;
.bg-info-color{background:$info-color;}//:#a0d3e8;
.bg-dark {background:$iron;}
.bg-blue{background:$blue;}
.bg-brown{background:$brown;}
.bg-cyan{background:$cyan;}
.bg-green{background:$green;}
.bg-magenta{background:$magenta;}
.bg-orange{background:$orange;}
.bg-pink{background:$pink;}
.bg-purple{background:$purple;}
.bg-red{background:$red;}
.bg-yellow{background:$yellow;}