---
name: uploadMedia
url: /upload-media/
controller: MediaUploadController
---
<div class="uploadMedia container">
<h1>{{media.img_server}}</h1>
	<div class="container">
  <!-- Button to select & upload files -->
  <span class="btn btn-success fileinput-button">
    <span>Select files...</span>
    <!-- The file input field used as target for the file upload widget -->
    <input id="fileupload" type="file" name="files[]" multiple>
  </span>


  <!-- The global progress bar -->
  <p>Upload progress</p>
  <div id="progress" class="progress progress-success progress-striped">
    <div class="bar" style="background:rgb(256,0,0);width:1%;">&nbsp;</div>
  </div>



  <!-- The list of files uploaded -->
  <p>Files uploaded:</p>
  <ul id="files"></ul>
<div id="display_files"></div>


  <!-- Load jQuery and the necessary widget JS files to enable file upload -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://mikbook.local:60046/uploads/js/a_jquery.ui.widget.js"></script>
  <script src="http://mikbook.local:60046/uploads/js/b_jquery.iframe-transport.js"></script>
  <script src="http://mikbook.local:60046/uploads/js/c_jquery.fileupload.js"></script>




  <!-- JavaScript used to call the fileupload widget to upload files -->
  <script>
    // When the server is ready...
    $(function () {
        'use strict';

        // Define the url to send the image data to
        var url = 'http://mikbook.local:60046/uploads/files.php';

        // Call the fileupload widget and set some parameters
        $('#fileupload').fileupload({

            url: url,
            dataType: 'json',
            done: function (e, data) {
                // Add each uploaded file name to the #files list

                $.each(data.result.files, function (index, file) {
                    $('<li/>').text(file.name).appendTo('#files');
                    $('#display_files').prepend('<a href="http://mikbook.local:60046/uploads/files/'+file.name+'"><img id="'+file.name+'" src="http://mikbook.local:60046/uploads/files/thumbnail/'+file.name+'" /></a>');
                });
            },
            progressall: function (e, data) {
                // Update the progress bar while files are being uploaded
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css(
                    'width',
                    progress + '%'
                );
                var red = 256-(2.56*progress);
                var green = 0+(2.56*progress);
                var blue = 0;
                $('#progress .bar').css(
                    'background',
                    'rgb('+red+','+green+','+blue+')'
                );
            }
        });


    });

  </script>
</div>

</div>




