---
name: angularCanvasPainter
url: /angular-canvas-painter
controller: canvasPainterCtrl as ctrl
---

<a zf-open="canvasModal" class="button">Open modal</a>


<div zf-modal="" id="canvasModal" class="canvas-modal dialog full" style="padding:0;">

	<a zf-close="" class="close-button">× {{selectedLineWidth}}</a>
	<h3>ImageWidth: {{canvasWidth}}</h3>

	<div pw-color-selector="['#000', '#00f', '#0f0', '#f00', '#f0f', '#fff', '#ff0', '#0ff','#Ff7800']" color="model.myColor"></div>
	<span ng-model="canvasWidth">666</span>
 <input type="range" min="1" max="50" ng-model="selectedLineWidth" class="lineWidthSelector">

	<div class="undo">
		<button ng-click="ctrl.undo()" ng-disabled="ctrl.version < 1">
			Undo (Version {{ctrl.version}})
		</button>
	</div>

	<a id="saveCanvasButton" ng-click="testFunk()" class="close-button button hollow">
		GEM
	</a>
	<!-- width: 960, height: 720-->
	<div pw-canvas  version="ctrl.version"  width="600" height="300" options="{  imageSrc: '/assets/images/flora.jpg', backgroundColor: '#fff', color: model.myColor, lineWidth: 5, opacity: 0.9, undo: true, customCanvasId: 'pwCanvasMain'}">
	</div>

<div image-dimensions>
    <img src="/assets/images/flora.jpg" alt="image" title="image" />
    <p>Image Dimensions: {{ dimensions }}</p>
</div>

</div>
