---
name: drawOnCanvas
url: /draw-on-canvas
animationIn: fadeIn
animationOut: fadeOut
controller: DrawOnCanvasController
---
<div class="canvas-directive">
	<div id="page">

    <div class="header bg-green">
		<a id="new" class="navbtn" onclick="newCanvas()">New</a>
        <div class="title">Sketch Pad <span class="title2"></span></div>
    </div>

<style>
#content {
    position: relative;
}

#content canvas {
    position: absolute;
    top: 0;
    left: 0;
}
</style>


    <div id="content" class="content" style="position:relative;">

   <!--
 	<canvas style="z-index:10;yellow:none;top:0;left:0;margin:0;padding:0;background:url(/assets/images/flora.jpg);background-size: contain;" id="canvas" class="canvas w100" <!~~ width="100" height="100" ~~>></canvas>
    	<img style="background:url(/assets/images/flora.jpg);z-index:0;position:relative;top:-3000px;left:-3000px;padding:0;margin:0;width:100%" id="respondImage" src="/assets/images/flora.jpg"/>
 -->  </div>

    	<div class="annotations small-3 columns" class="nul">
			<canvas id="canvas" class="w100" <!-- src="{{media.annotation}}" -->></canvas> <img class="w100" src="/assets/images/flora.jpg" />
		</div>










    <div class="footer">
    	<div>

    		<img id="canvasimg" style="background-size:contain;"/>
    		<input type="button" value="save" id="btn" size="30" onclick="save()" style="background:red;">
    		<input type="button" value="save2" id="btn" size="30" onclick="save3(canvas.toDataURL())" style="background:green;">
    		<input type="button" value="mail" id="btn" size="30" onclick="link2mail(canvas.toDataURL())" style="background:yellow;">
    		<!--
<input type="button" value="mail" id="btn" size="30" onclick="sendMail" style="background:navy;">
    		<a href="mailto:me@me.com?subject=Me&body=%3Chtml%20xmlns%3D%22http:%2F%2Fwww.w3.org%2F1999%2Fxhtml%22%3E%3C%2Fhead%3E%3Cbody%3EPlease%20%3Ca%20href%3D%22http:%2F%2Fwww.w3.org%22%3Eclick%3C%2Fa%3E%20me%3C%2Fbody%3E%3C%2Fhtml%3E">html-email</a>
 -->


    	</div>
    		<div class="palette-case">
			<div class="palette-box">
				<div class="palette white" onclick="selectColor(this)"></div>
			</div>
			<div class="palette-box">
				<div class="palette red" onclick="selectColor(this)"></div>
			</div>
			<div class="palette-box">
				<div class="palette orange" ng-click="selectColor('orange')"></div>
			</div>
			<div class="palette-box">
				<div class="palette blue" onclick="selectColor(this)"></div>
			</div>
			<div class="palette-box">
				<div class="palette green" onclick="selectColor(this)"></div>
			</div>
			<div class="palette-box">
				<div class="palette black" onclick="selectColor(this)"></div>
			</div>

			<div style="clear:both"></div>

		</div>
    </div>
</div>

<script src="respondCanvas-jquery.js"></script>
<!-- <script>window.jQuery || document.write("<script src='respondCanvas-jquery.js'>\x3C/script>")</script> -->
<script type="text/javascript">
  	$(document).ready( function(){

  		//Get the canvas & context
  		var c = $('canvas');
  		var ci = $('#canvasimg');
  		//var ct = c.get(0).getContext('2d');
  		var container = $(c).parent();

  		//Run function when browser  resize
	  	$(window).resize( respondCanvas );

	  	function respondCanvas(){
  			c.attr('width', $('#respondImage').width() ); //max width
  			c.attr('height', $('#respondImage').height() ); //max height
			$('#canvasimg').css( "background","url(/assets/images/flora.jpg)" );
			$('#canvasimg').css( "background-size","contain" );
			$('#canvasimg').attr('width', $('#respondImage').width() ); //max width
			$('#canvasimg').attr('height', $('#respondImage').height() ); //max width

			ctx.lineWidth = $('#respondImage').width()/100;

  			//http://www.sitepoint.com/css3-background-size-property/

  			//Redraw & reposition content
  			var x = c.width();
  			var y = c.height();
  			ctx.font = "20px Calibri";

  			ctx.fillStyle = "#DDDDDD"; //black
  			//ct.fillRect( 0, 0, x, y); //fill the canvas

  			var resizeText = "Canvas2 width: "+c.width()+"px # height: "+c.height();
  			ctx.textAlign = "center";
  			ctx.fillStyle = "#ff0000"; //white
	  		ctx.fillText(resizeText, (x/2), (y/2) );
		}

		//Initial call
		respondCanvas();
  	});



</script>

</div>
