---
name: canvas
url: /canvas
title: canvas [parent]
animationIn: fadeIn
---
{{canvas.links}}


<div class="viewAllMedia" class="tight">

	<div class="grid-block small-up-6" class="tight">
		<div class="grid-content tight"><a ui-sref-active="my-active-class" ui-sref="angularCanvasPainter" class="button alert">angularCanvasPainter</a></div>
		<div class="grid-content tight"><a ui-sref-active="my-active-class" ui-sref="jsCanvasPainter" class="button secondary">jsCanvasPainter</a></div>
		<div class="grid-content tight"><a ui-sref-active="my-active-class" ui-sref="iframeCanvasPainter" class="button primary">iframeCanvasPainter</a></div>
		<div class="grid-content tight"><a href="/canvas.html" class="button"> canvas</a> </div>
		<div class="grid-content tight"><a href="/canvas2.html" class="button">canvas2</a> </div>
		<div class="grid-content tight"><a href="/canvas3.html" class="button">canvas3</a></div>
		<div class="grid-content tight"><a href="/canvas4.html" class="button">canvas4</a></div>
		<div class="grid-content tight"><a href="/canvas5.html" class="button">canvas5</a></div>
		<div class="grid-content tight"><a href="/canvas-original.html" class="button">canvas-original</a></div>
		<div class="grid-content tight"><a ui-sref-active="my-active-class"><a ui-sref="viewCanvas" class="button">viewCanvas</a></div>

	<div class="grid-content tight"><a ui-sref-active="my-active-class"><a ui-sref="drawOnCanvas" class="button">drawOnCanvas</a></div>

	</div>

</div>

<div ng-class="[currentSlug, 'ui-animation']" ui-view class="bg-yellow"></div>